* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link{
    text-decoration: none!important;
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 10;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

.navbar__container__logo {
    color: #fff;
    justify-self: flex-start;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar__container__burger {
    display: none;
}

.fas {
    cursor: pointer;
}

#toggle {
     display: none;
}

@media screen and (max-width: 768px) {
    .navbar__container__burger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }
}

.navbar__container__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
}

@media screen and (max-width: 768px) {
    .navbar__container__menu {
        display: none;
    }
}

.navbar__container__menu__item {
    height: 80px;
}

.navbar__container__menu__item__link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.sibebar__container {
    position: fixed;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.sidebar__container__close {
    color: #fff;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.sidebar__container__menu {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,80px);
    text-align: center;
}

@media screen and (max-width: 480px) {
    .sidebar__container__menu {
        grid-template-rows: repeat(6,60px);
    }
}

.sidebar__container__menu__links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.sidebar__container__menu__links:hover {
    color: #01bf71;
    transition: 0.2s ease-in-out;
}

.sibebar__container {
    visibility: collapse;
}

#toggle:checked ~ * .sidebar {
    visibility: visible;
}

.welcome__container {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.welcome__container__content {
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_container__content__header {
    color: #fff;
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .welcome__container__content__header {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .welcome__container__content__header {
        font-size: 32px;
    }
}

.welcome__container__content__text {
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
} 

@media screen and (max-width: 768px) {
    .welcome__container__content__text {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .welcome__container__content__text {
        font-size: 18px;
    }
}

.about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 125vh;
    width: 100%;
    align-items: center;
    color: #fff;
    background-color: #141414;

}

@media screen and (max-width: 768px) {
    .about__container {
        padding: 100px 0;
        grid-template-columns: auto;
    }
}

.about__container__wrapper {
    display: grid;
    place-items: center;
}

.about__container__wrapper__picture {
    width:30vw;
}

.about__container__wrapper__header {
    font-size: 6rem;
    padding-bottom: 1em;
}

.about__container__wrapper__text {
    font-size:1.5rem;
}

@media screen and (max-width: 480px) {
    .about__container__wrapper__header {
        margin-top: -30vh;
    }

    .about__container__wrapper__text {
        margin:-10vh 15vw 0 15vw;
        font-size: 18px;
    }
}

.skills__container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 150vh;
    width: 100%;
    align-items: center;
    color: #fff;
    background-color: #0c0c0c;
}

.skills__container__wrapper {
    display: grid;
    place-items: center;
}

@media screen and (max-width:480px) {
    .skills__container {
        display: grid;
        grid-template-columns: auto;
    }
}

.skills__container__wrapper__skills {
    list-style: none;
    font-size: 6rem;
}

.skills__container__wrapper__skills__item {
    margin-top: 5rem;
}

.skills__container__wrapper__skills__item__value {
    margin-left: 1.5rem;
    font-size: 4rem;
}

.skills__container__wrapper__projects {
    list-style: none;
    font-size: 6rem;
}

.skills__container__wrapper__projects__item {
    font-size: 4rem;
    margin-top: 3rem;
}

.skills__container__wrapper__projects__item__link {
    text-decoration: none;
    box-shadow: none;
    color: #fff
}

@media screen and (max-width: 480px) {
    .skills__container__wrapper__skills {
        margin-left: 15vw;
    }
}

.contact__container {
    height: 100vh;
    width: 100%;
    align-items: center;
    color: #fff;
    background-color: #141414;
}

.contact__container__form {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}

.contact__container__form__name {
    margin-top: 25vh;
}


.contact__container__form__name, .contact__container__form__email, .contact__container__form__submit {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 50vw;
    height: 10vh;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #fff;
    
    border: solid 1px #fff;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
input:hover {
    background: #b3aca7;
    color: #e2dedb;
}
  
.contact__container__form__textarea {
    width: 50vw;
    height: 25vh;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #fff;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}
  
#submit {
    width: 50vw;
    height: 10vh;
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #e2dedb;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #fff;
    border-top: none;
}
  
#submit:hover {
    color: #e2dedb;
}

.footer__container {
    display: grid;
    place-items: center;
    height: 5vh;
    background: #000000;
    color: #fff;
}